div{
    background: url("https://static.vecteezy.com/system/resources/previews/049/855/259/non_2x/nature-background-high-resolution-wallpaper-for-a-serene-and-stunning-view-photo.jpg");
    background-size: cover;
     clip-path: polygon(0 0, 100% 0%, 100% 72%, 0% 100%);
     height: 600px;
     width: 600px;
}